.wrapper {
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: red;
}

.inner {
    height: 100%;
    width: 1150px;
    background-color: #ccc;
}

.logo_rmbg {
    width: 10%;
    height: 10%;
}